/* Nunito font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.aboutPart-container{
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  margin-top: 3rem;
  padding: 30px;
}

.aboutpart-headings{
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.aboutpart-headings h1{
  font-size: 28px;
  color: rgb(77, 77, 77);
  margin: 0.5rem 0;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.aboutpart-headings p{
  font-size: 16px;
  color: rgb(77, 77, 77);
  margin: 0.5rem 0;
  font-weight: 500;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.aboutpart-headings-image{
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}