@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
}

.Nav-bar-components {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
              rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.logo-top {
  width: 100px;
  margin-top: 1px;
}

.school-name h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: rgb(48, 58, 102);
  margin-top: 5px;
}

.top-links h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgb(68, 68, 68);
  margin-top: 10px;
}

.menu-title-componets {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.menu-title-componets h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgb(59, 59, 59);
  margin-top: 5px;
}

/* Menu navbar icon for the pages */
.menu-nav-icon h1 {
  cursor: pointer;
}
.menu-nav-icon h1:hover{
  color: rgb(16, 87, 219);
  rotate: 180deg;
  transition-duration: 0.9s;
}








/* Navbar social section */
.Navbar-Social-Components{
  background-color: blue;
  padding: 5px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
              rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* center and put it on flex */
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* .Navbar-Social-Title{
  display: flex;
} */
.Navbar-Social-Title h3{
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
}

.Social-Media-Icons{
  color: rgb(236, 234, 234);
  display: flex;
  gap: 20px;
  font-size: 1rem;
  cursor: pointer;
  padding-top: 5px;
}
.Social-Media-Icons:hover{
  color: rgb(246, 250, 245);
  animation-name: icon-buttons;
  animation-duration: 6s;
  animation-iteration-count: 3;
  transition: width 2s, height 4s;
}
@keyframes icon-buttons{
  0%   {background-color: rgb(0, 195, 255);}
  50%  {background-color: blue;}
  100% {background-color: rgb(25, 42, 90);}

}




.Navbar-Contact{
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
 
}

.Navbar-Contact p{
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  text-align: center;
  padding-top: 5px;
}

.Navbar-Email{
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
}
.Navbar-Email p{
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
}


/* small devices */
@media screen and (max-width: 480px){
  .Navbar-Social-Components{
    /* center and put it on flex */
    flex-direction: column;
  }
}




/* Dropdown Menu Style */
.dropdown-menu {
  position: absolute;
  top: 80px;
  right: 10px;
  width: 400px;
  height: 50%;
  background-color:rgb(35, 44, 82);
  border-radius: 3px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  opacity: 0;
  transform: translateX(10px);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.dropdown-menu.open {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.dropdown-menu.closed {
  opacity: 0;
  transform: translateX(10px);
  pointer-events: none;
}

.dropdown-menu ul{
  text-align: start;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: white;
  padding: 10px;
}

.dropdown-menu ul li {
  border-bottom: 1px solid white;   
  padding: 8px 0;
  transition: background-color 0.3s ease;
}

/* .dropdown-menu ul li:last-child {
  border-bottom: none;
} */

.dropdown-menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.1); 
  cursor: pointer;
  border-bottom: 1px solid rgb(117, 115, 115);   
}

.dropdown-menu ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

.dropdown-menu ul li a:hover {
  color: #492afd; /* Optional: Change text color on hover */
}


