
@import "tailwindcss";

body {
  font-family: 'Satoshi', sans-serif;
font-family: 'Chillax', sans-serif;
font-family: 'Be Vietnam Pro', sans-serif;
}

h1,h2 .brand-name {
  font-family: 'Be Vietnam Pro', sans-serif;
}
