.hero-container{
  width: 70%;
  height: 100px;      
  object-fit: cover;   
}

.hero-container img {
  border-radius: 20px;
  margin: 20px;
}

.input-search{
  padding: 10px;
  border: 1px solid blue;
  border-radius: 10px;
}
